
footer {
	background: -moz-linear-gradient(45deg, rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%); /* FF3.6-15 */
	text-align: center;
	padding: 5px 0;
	margin-top: 0;
	font-size: .7em;
	font-family: 'Playfair Display', serif; ;
	
	h4{
		font-size: 1.8em;
		font-weight: bold;
	}
	

}
@media (min-width: 575px) {
	footer{
		font-size: 1em;

		h4{
		font-size: 1.8em;	
		}
	}
}

.footer-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.form-control-lg {
	height: calc(1.5em + 1rem + 2px);
	// padding: 0.5rem 1rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.3rem;
}
button,
input {
	overflow: visible;
}
.form-group {
	margin-bottom: 1rem;
}
fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	margin-bottom: 0px;
	border: 0;
}
/* label {
    display: inline-block;
    margin-bottom: 0.5rem;
} */
.pb-3,
.py-3 {
	padding-bottom: 1.5rem !important;
}
h6 {
	color: #000000;
}


h6 {
	margin-top: 20px;
	color: #000000;
}
footer {
	color: #000000;
}
footer a {
	color: #000000 !important;
}
.copyright {
	justify-content: center;
	padding-top: 1em;
}


.paymentOptions, .text-muted{
	justify-content: center;
	background: -moz-linear-gradient(45deg, rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%); /* FF3.6-15 */
	text-align: center;
	padding: 5px 0;
	margin-top: 0;

}

.options_bg {
	background: -moz-linear-gradient(45deg, rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%); /* FF3.6-15 */
	margin: solid 5px rgba(254,255,255,1) 0%;
	
}
