body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: $background-colorBody;
  margin: 0 auto;
}

.wrapper {
  flex: 1 0 auto;
}

section {
  margin-top: 100px;
  justify-content: center;
  padding-bottom: 100px;

}

.body_background_color{
  background-color : $light ;

}

.container__products {
  margin-top: 2rem;
}

.subscribe {

  max-width: 400px;
  padding-top: 2rem;
  justify-content: center;

  
}

.bodyChart_background_color{
  background-color : $light ;
}

.text-right{
  padding: 20px;
}