.navbar {
    background: $footer-Nav-background-color;
    box-shadow: $box-shadow;

    .nav-link {
        letter-spacing: 1px;
        color: $dark-grey !important;
        font-size: 1.1em;

        
       
        &:active {
            font-weight: bold !important;
            font-size: larger;
            font-style: italic underline !important;
        }

        


        &:hover {
            color: #000 !important;
            background-color: $nav-link-background;
            border-color: $box-shadow;
            font-weight: bold !important;
            font-style: uppercase;
            transition: all 1s;
            font-size: larger;
            
        }
    }
}

.navbar-brand img {
    height: 100px;
    fill: white;
    
}

@media (max-width: 575px) {
        
        .navbar-brand img {
        height: 85px;
        fill: white;
    
    }
    
        .nav-link {
            font-size: 1.7rem;
        }

}